<div style="padding-top:10px;">
    <p class="cnhudescr">
        <%= I18n.t('description.chnu') %>
        <br/>
        <%= I18n.t('description.facult') %>
    </p>

    <p class="conference-name">
        <span style="font-size: 1.2em; font-weight: bold;">
            <%= I18n.t('description.date') %>
        </span>
        <br/><br/>
        <span>
            <%= I18n.t('description.conference') %>
            <br/>
            <%= I18n.t('description.55-years') %> 
            <br/>
            <%= I18n.t('description.mathinf') %>
        </span>
    </p>

    <br>
    <br>
    <br>
    <p style="font-size:1px; bottom:0; color:white; margin-bottom:0px; " id="conference">Section</p>
</div>