<div class="footer">
    <div class="contacts">

        <img class="imagechnu" src="<%= asset_path('chnu.png') %>" >

        <h1 style="color:white; font-size:2.5em;">Контактні дані</h1>

        <div class="address">
            <p> 
                <img class="image" src="<%= asset_path('map.jpg') %>" >
                 
                &nbsp 58012, Україна, м. Чернівці, 
                 <br/> 
                &nbsp &nbsp &nbsp вул. Університетська, 28, к. 1.
            </p>
        </div>

        <br/><br/><br/>

        <div class="phone">
            <p> 
                <img class="image" src="<%= asset_path('phone.png') %>" >
                &nbsp +38(0372) 584880 <br/>
                &nbsp &nbsp &nbsp &nbsp +38(050)-_________
            </p>
        </div>

        <br/>

        <div class="email">
            <p>
               <img class="image" src="<%= asset_path('mail.png') %>" >
                &nbsp ___________@ukr.net
            </p>
        </div>

        <br/>

        <div class="site"> 
            <p> 
                <img class="image" src="<%= asset_path('web.png') %>" >
                &nbsp www._________________
            </p>
        </div>
    </div> 

    <div class="bottom-menu">
        <div class="bottom-nav">
            <h1 style="color:white; font-size:2.5em;">Конференція</h1>
            <h1 style="color:white; font-size:2.5em;">Організатори</h1>
            <h1 style="color:white; font-size:2.5em;">Секції</h1>
            <h1 style="color:white; font-size:2.5em;">Учасники</h1>
            <h1 style="color:white; font-size:2.5em;">Реєстрація</h1>
    
            <h2 style="color:white; font-size:1.5em; margin-top:45px">© 2023</h2>
        </div>

        <div class="social">
            <img class="image-fb" src="<%= asset_path('facebook.png') %>" >
            &nbsp
            <img class="image-inst" src="<%= asset_path('instagram.png') %>" >
        </div>
</div>  
