<div class="footer">
    <div class="contacts">

        <img class="imagechnu" src="<%= asset_path('chnu.png') %>" >

        <h1 style="color:white; font-size:2.5em;"><%= I18n.t('footer.contacts') %></h1>

        <div class="address">
            <p>
            <a target="_blank" style="color:white; text-decoration: none;" href="https://www.google.com/maps/place/Faculty+of+Mathematics+and+Computer+Science/@48.2932673,25.929342,15z/data=!4m14!1m7!3m6!1s0x4734089eaf308e41:0x974c4f797f290a9b!2sFaculty+of+Mathematics+and+Computer+Science!8m2!3d48.2932673!4d25.929342!16s%2Fg%2F11bbxqg2xt!3m5!1s0x4734089eaf308e41:0x974c4f797f290a9b!8m2!3d48.2932673!4d25.929342!16s%2Fg%2F11bbxqg2xt"> 
                <img class="image" src="<%= asset_path('map.jpg') %>" >
                 
                &nbsp  <%= I18n.t('footer.address.first') %>
                 <br/> 
                &nbsp &nbsp &nbsp <%= I18n.t('footer.address.second') %>
            </a>
            </p>
        </div>

        <br/><br/><br/>

        <div class="phone">
            <p> 
                <img class="image" src="<%= asset_path('phone.png') %>" >
                &nbsp +38(0372) 584880 <br/>
                &nbsp &nbsp &nbsp &nbsp +38(050)-_________
            </p>
        </div>

        <br/>

        <div class="email">
            <p>
               <img class="image" src="<%= asset_path('mail.png') %>" >
                &nbsp ___________@ukr.net
            </p>
        </div>

        <br/>

        <div class="site"> 
            <p> 
                <img class="image" src="<%= asset_path('web.png') %>" >
                &nbsp www._________________
            </p>
        </div>
    </div> 

    <div class="bottom-menu">
        <div class="bottom-nav">
            <h1 style="color:white; font-size:2.5em;">
                <a style="color:white; text-decoration: none;" href="/#conference">
                    <%= I18n.t('header.conference') %>
                </a>
            </h1>

            <h1 style="color:white; font-size:2.5em;">
                <a style="color:white; text-decoration: none;" href="/#organizators">
                    <%= I18n.t('header.organizers') %>
                </a>
            </h1>

            <h1 style="color:white; font-size:2.5em;">
                <a style="color:white; text-decoration: none;" href="/#format">
                    <%= I18n.t('header.sections') %>
                </a>
            </h1>

            <h1 style="color:white; font-size:2.5em;">
                <%= link_to I18n.t('header.participants'), members_path, :style=>"color:white; text-decoration: none;" %>
            </h1>

            <h1 style="color:white; font-size:2.5em;">
                <%= link_to I18n.t('header.registration'), new_member_path, :style=>"color:white; text-decoration: none;" %>
            </h1>
    
            <h2 style="color:white; font-size:1.5em; margin-top:45px">© 2023</h2>
        </div>

        <div class="social">
            <a target="_blank" style="color:white; text-decoration: none;" href="https://www.facebook.com/fmi.org.ua?mibextid=ZbWKwL"> 
                <img class="image-fb" src="<%= asset_path('facebook.png') %>" >
            </a>
            &nbsp
            <a target="_blank" style="color:white; text-decoration: none;" href="https://instagram.com/pmit_chnu?igshid=OTJlNzQ0NWM="> 
                <img class="image-inst" src="<%= asset_path('instagram.png') %>" >
            </a>
        </div>
</div>  
