<td class="cell4logo" id="header">
    <table class="logotable" cellspacing="0">
        <tbody>
            <tr>
                <td class="cellimage" align="center">
                    <img class="image" src="<%= asset_path('chnu.png') %>" alt style="margin-top:-3px;">
                </td>
                <td>
                    <h2 id="confname">
                        <span id="seminar">
                            <%= I18n.t('bottom-top.international-scient-conf') %>
                        </span>
                        <br>
                        <span id="seminarname">
                            "<%= I18n.t('bottom-top.seminarname') %>"
                        </span>
                        <br>
                        <%= I18n.t('bottom-top.dedicated_to') %>
                        <br>
                        <%= I18n.t('bottom-top.chair') %>
                        <br>
                        <%= I18n.t('bottom-top.inform_technologies') %>
                    </h2>
                </td>
                <td class="cellimage" align="center">
                    <img class="image" id="rightlogoimage" src="<%= asset_path('math.png') %>" alt>
                </td>
            </tr>
        </tbody>
    </table>
</td>