
<div class="nav-parent">        
  <div class="cellimage">
    <img class="image" src="<%= asset_path('math_logo.png') %>" >
  </div>

        
  <nav class="navbar navbar-expand-lg navbar-light bg-white" style="padding:0; display: inline-block;">
    <div class="container-fluid" style="background-color: white; margin-top: 40px;">
      
      <a class="panel-link" style="font-size: 20px; font-weight:bold; color:black; text-decoration: none;" href="#conference">
          Конференція
      </a>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a style="font-size: 20px; font-weight:bold; color:black; text-decoration: none;" href="#organizators">
        Організатори
      </a>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a style="font-size: 20px; font-weight:bold; color:black; text-decoration: none;" href="#format">
        Формат
      </a>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= link_to "Учасники", members_path, :style => "font-size: 20px; font-weight:bold; color:black; text-decoration: none;" %>

      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= link_to "Реєстрація", new_member_path, :style => "font-size: 20px; font-weight:bold; color:black; text-decoration: none;" %>
    </div>
  </nav>
            
  <div style="width:100px; margin-right: 15px; margin-top: 40px;">
    <%= link_to "UA", { :locale=>'ua' }, {:style => 'text-decoration: none;color:grey;font-size: 20px;margin-top: 20px;'} %>
    <span style="color:grey;font-size: 20px;">/</span>
    <%= link_to "ENG", { :locale=>'en' }, {:style => 'text-decoration: none;color:grey;font-size: 20px;'} %>
  </div>
</div>

<script>
// When the user scrolls the page, execute myFunction
window.onscroll = function() {myFunction()};

// Get the navbar
var navbar = document.getElementById("navbar");

// Get the offset position of the navbar
var sticky = navbar.offsetTop;

// Add the sticky class to the navbar when you reach its scroll position. Remove "sticky" when you leave the scroll position
function myFunction() {
  if (window.pageYOffset >= sticky) {
    navbar.classList.add("sticky")
  } else {
    navbar.classList.remove("sticky");
  }
}
</script>

<script>
$(document).on("click", "nav a", function(e) {
    e.preventDefault();
    var id  = $(this).attr('href');
    var top = $(id).offset().top; // получаем координаты блока
    $('body, html').animate({scrollTop: top}, 800); // плавно переходим к блоку
});
</script>