<td class="cell4logo" id="header">
    <table class="logotable" cellspacing="0">
        <tbody>
            <tr>
                <td class="cellimage" align="center">
                    <img class="image" src="<%= asset_path('math70.png') %>" style="margin-top:-3px;">
                </td>
                <td>
                    <h2 id="confname" style="font-size: 15px; margin-right: 5%;">
                        <span id="seminar">
                            <%= I18n.t('bottom-top.international-scient-conf') %>
                        </span>
                        <br>
                        <span id="seminarname">
                            "<%= I18n.t('bottom-top.seminarname') %>"
                        </span>
                        <br>
                        <%= I18n.t('bottom-top.dedicated_to') %>
                        <br>
                        <%= I18n.t('bottom-top.chair') %>
                        <br>
                        <%= I18n.t('bottom-top.inform_technologies') %>
                    </h2>
                </td>
                
                <td style="width:100px;text-align:right; padding-left: 0px; padding-right: 5px;">
                    <%= link_to image_tag('ukr.png', :class => "lang"), { :locale=>'ua' } %>
                    &nbsp;
                    <%= link_to image_tag('eng.png', :class => "lang"), { :locale=>'en' } %>
                </td>
            </tr>
        </tbody>
    </table>
</td>