<td valign="top" id="menuarea">
    <div class="urbangreymenu">
        <h3 class="headerbar"><%= I18n.t('menu_bar.top-bar.title') %></h3>
        <ul class="uppercase">
            <li><a href="#"><%= I18n.t('menu_bar.top-bar.main-page') %></a></li>    
            <li><a href="#"><%= I18n.t('menu_bar.top-bar.scientific-commitee') %></a></li>  
            <li><a href="#"><%= I18n.t('menu_bar.top-bar.inform-tech-commitee') %></a></li>
            <li><a href="#"><%= I18n.t('menu_bar.top-bar.org-commitee') %></a></li>
            <li><a href="#"><%= I18n.t('menu_bar.top-bar.direction-work-commitee') %></a></li>
            <li><a href="#"><%= I18n.t('menu_bar.top-bar.important-dates') %></a></li>
            <li><a href="#"><%= I18n.t('menu_bar.top-bar.inform-messages') %></a></li>
            <li><%= link_to I18n.t('menu_bar.top-bar.members'), { :controller => :members, :action => :index } %></li>
            <li><a href="#"><%= I18n.t('menu_bar.top-bar.design-submission-works') %></a></li>
            <li><a href="#"><%= I18n.t('menu_bar.top-bar.commitee-program') %></a></li>
            <li><a href="#"><%= I18n.t('menu_bar.top-bar.commitee-materials') %></a></li>
            <li><a href="#"><%= I18n.t('menu_bar.top-bar.contacts') %></a></li>
        </ul>
        <h3 class="headerbar" id="menu2"><%= I18n.t('menu_bar.bottom-bar.title') %></h3>
        <ul>
            <li><a href="http://chnu.edu.ua/" target="_blank"><%= I18n.t('menu_bar.bottom-bar.chnu-site') %></a></li>
            <li><a href="http://fmi.org.ua/" target="_blank"><%= I18n.t('menu_bar.bottom-bar.fmi-site') %></a></li>
            <li><a href="http://pmit.fmi.org.ua/" target="_blank"><%= I18n.t('menu_bar.bottom-bar.apply-math-site') %> <br>та інформаційних технологій</a></li>
            <li><a href="http://bmj.fmi.org.ua/" target="_blank"><%= I18n.t('menu_bar.bottom-bar.buk-national-journal') %> <br>журнал</a></li>
            <li><a href="https://science.lpnu.ua/uk/mmc" target="_blank"><%= I18n.t('menu_bar.bottom-bar.math-modeling') %></a></li>
        </ul>
    </div>
</td>