<nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding:0; display: inline-block;">
  <div class="container-fluid" style="background-color:#2b0072;">
    
    <a style="color:white; background-color: #2b0072 !important; border-color:#2b0072; text-decoration:none;" class="btn btn-primary" href="#">
      <%= I18n.t('navbar.main_page') %>
    </a>

    
  <div class="dropdown show">
    <a style="color:white; background-color: #2b0072 !important; border-color:#2b0072; text-decoration:none;" class="btn btn-secondary dropdown-toggle" disabled href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= I18n.t('navbar.committees.header') %>
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" href="#"><%= I18n.t('navbar.committees.scientific') %></a>
      <a class="dropdown-item" href="#"><%= I18n.t('navbar.committees.inform_technologies') %></a>
      <a class="dropdown-item" href="#"><%= I18n.t('navbar.committees.organizational') %></a>
    </div>
  </div>

  <%= link_to I18n.t('navbar.committees.members'), { :controller => :members, :action => :index }, :style=>"color:white; background-color: #2b0072 !important; border-color:#2b0072; text-decoration:none;", :class=>"btn btn-primary"%>

  <div class="dropdown show">
    <a style="color:white; background-color: #2b0072 !important; border-color:#2b0072; text-decoration:none;" class="btn btn-secondary dropdown-toggle" disabled href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= I18n.t('navbar.details.header') %>
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" href="#"><%= I18n.t('navbar.details.formation') %></a>
      <a class="dropdown-item" href="#"><%= I18n.t('navbar.details.conference_program') %></a>
      <a class="dropdown-item" href="#"><%= I18n.t('navbar.details.materials') %></a>
      <a class="dropdown-item" href="#"><%= I18n.t('navbar.details.contacts') %></a>
    </div>
  </div>
</nav>
