<!DOCTYPE html>
<html>
  <head>
    <!--Translations for HEADER -->
    <title>ScientificConference</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <link rel=”stylesheet” href=”css/bootstrap-responsive.css”>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
    
    <section>
      <%= render :partial => 'shared/header' %>
    </section>
              
    <%= yield %>

    <section class="footer-section" id="footer">
      <%= render :partial => 'shared/footer' %>
    </section>
    
    <%= render :partial => 'shared/header' %>  
  </body>
</html>
