<!DOCTYPE html>
<html>
  <head>
    <!--Translations for HEADER -->
    <title>ScientificConference</title>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
    
    <section>
      <%= render :partial => 'shared/header' %>
    </section>

    <section class="description-main-section">
      <%= render :partial => 'shared/description' %>
    </section>




    <table id="wrapper" cellspacing="0" cellpadding="0">
      <tbody>

        <tr>
          <%= render :partial => 'shared/header' %>
        </tr>
        
        <tr>
          <td class="cell4logo" valign="top">
            <table cellspacing="5" cellpadding="0" id="main">
              <tbody>
                <tr>
                  <td valign="top">
                    <%= yield %>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>

        <tr>
          <td class="bluerow" style="background-color:#2b0072;" id="footer">
            <h3><%= I18n.t('bottom-row') %></h3>
          </td>
        </tr>
      </tbody>
    </table> 
  </body>
</html>
