<!DOCTYPE html>
<html>
  <head>
    <title>ScientificConference</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <table id="wrapper" cellspacing="0" cellpadding="0">
      <tbody>
        <tr>
          <%= render :partial => 'shared/top_row' %>
        </tr>

        <tr>
          <%= render :partial => 'shared/header' %>
        </tr>

        <tr>
          <td class="bluerow">
            <h2>
              <%= I18n.t('university-name') %>
            </h2>
          </td>
        </tr>

        <tr>
          <td class="cell4logo" valign="top">
            <table cellspacing="5" cellpadding="0" id="main">
              <tbody>
                <tr>
                  <%= render :partial => 'shared/menu' %>

                  <td valign="top">
                    <%= yield %>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>

        <tr>
          <td class="bluerow" id="footer">
            <h3><%= I18n.t('bottom-row') %></h3>
          </td>
        </tr>
      </tbody>
    </table> 
  </body>
</html>
