<!DOCTYPE html>
<html>
  <head>
    <!--Translations for HEADER -->
    <title>ScientificConference</title>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
    
    <section>
      <%= render :partial => 'shared/header' %>
    </section>

    <section class="description-main-section" style="margin-top: 85px;">
      <%= render :partial => 'shared/description' %>
    </section>

    <section class="conference-section" id="conference">
      <%= render :partial => 'shared/conference' %>
    </section>

    
    <section class="organizators-section" id="organizators">
      <%= render :partial => 'shared/organizators' %>
    </section>

    <section class="format-section" id="format">
      <%= render :partial => 'shared/format' %>
    </section>
    
    <section class="footer-section" id="footer">
      <%= render :partial => 'shared/footer' %>
    </section>
    
    <%= render :partial => 'shared/header' %>
        
        
        
    <%= yield %>


      
  </body>
</html>
